*{
    margin: 0;
    padding: 0;
    border: 0;
    
}
.nav{
    display: grid;
    background: #4446d6;
    justify-content: right;
}
.menu{
    display:grid;
    place-items:center;
    height:10vh;
    background:#4446d6;
    margin:0;
    padding:0;
  }
  
  label{
   display:flex;
    flex-direction:column;
    width:70px;
    cursor:pointer;
  }
  
  label span{
    background: #fff;
    border-radius:10px;
    height:7px;
    margin: 7px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  
  }
  
  
  span:nth-of-type(1){
    width:50%;
    
  }
  
  span:nth-of-type(2){
    width:100%;
  }
  
  
  span:nth-of-type(3){
    width:75%;
   
  }
  
  
  input[type="checkbox"]{
    display:none;
  }
  
  
  input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(8px,0px)
  }
  
  
  input[type="checkbox"]:checked ~ span:nth-of-type(2){
    
    transform-origin:top;
    transform:rotatez(-45deg)
  }
  
  
  input[type="checkbox"]:checked ~ span:nth-of-type(3){
    
    transform-origin:bottom;
    width:50%;
    transform: translate(30px,-11px) rotatez(45deg);
  
  }
.btMobileMenu{
    justify-content: right;

}
main{
    background: #e0f0ff;
    height: 90%;
}
.apresentPrinc{
    background: #4446d6;
    height: 70vh;  
    padding-top: 120px;
    justify-content: center;
                                                                                                                                                                
}
.apresentaIconesPrinc{
    display: flex;
    justify-content: center;
}
.apresentaIconesPrinc img{
    height: 200px;
}
.apresentaIconesPrinc button{
    height: 40px;
    width: 80px;
    margin-top: 50px;
}
.btPadrao{
    background: #fdfd96;
    border: #e0f0ff solid 1px;
    border-radius: 5px;

    font-weight: bold;
    justify-content: space-around   ;
}
.branco{
    background: #e0f0ff;
    height: 25px;
}
.apresentaServico{
    background: #e0f0ff;

}
.conteudoServico{
    background-color: #e0f0ff;
    height: 300px;
}
.titulos{
    background: #4446d6;
    height: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
}
footer{
    background: rgb(55, 191, 201);
    height: 100px;
}